{% extends "modelo.html"%}
    {%block conteudo%}
    <div>
        <img id="produto" src="/static/imagens/caneta_preta.png">
        <br>
        <label id="descricao">Caneta preta</label>
        <br>
        <button onclick="window.location.href='/produto1'">Detalhes</button>
        <br>

        <img id="produto" src="/static/imagens/caneta_azul.png">
        <br>
        <label id="descricao">Caneta azul</label>
        <br>
        <button onclick="window.location.href='/produto2'">Detalhes</button>
    </div>
    {%endblock%}
